DB_USER=postgres
DB_PASSWORD=docker
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=recruitment
DB_SCHEMA=task

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=${DB_SCHEMA}&sslmode=prefer"
SHADOW_DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=dbmigration&sslmode=prefer"


JWT_SECRET=nodejs-junior
JWT_TOKEN_AUDIENCE=localhost:8080
JWT_TOKET_ISSUER=localhost:8080
JWT_ACCESS_TOKEN_TTL=3600